@import "config";

// CUSTOM USER STYLES & IMPORTS

// -----------------------ОБЩИЕ СТИЛИ-----------------------
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

p {
  font-size: 15px;
}

// -----------------------ОБЩИЕ СТИЛИ-----------------------

header {
  background-color: #74b330;
}

.logo {
  display: flex;
  align-items: center;

  p {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    margin: 0 0 0 10px;
  }
}

.header__linc {
  color: #74b330;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: 900;
  padding: 4px 8px;

  &:hover {
    text-decoration: none;
    color: #74b330;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.main-screen {
  background-color: #37383c;
  background-image: url(img/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;

  h1 {
    color: #74b330;
    position: relative;
    font-size: 120px;
    text-align: center;
    line-height: 120px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: #74b330;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 100px;
      height: 50px;
      left: 10px;
      top: -48px;
    }
  }
}

.main__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px 0;
}

.main__text {
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  max-width: 700px;
}

h2 {
  color: #74b330;
  font-size: 42px;
  font-weight: 900;
  line-height: 50px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-weight: 900;
  font-size: 20px;
}

.info__blocks {
  display: flex;
  padding-top: 40px;
}

.info__block {
  padding: 0 40px 0 0;
}

.info__titles {
  color: #74b330;
  font-size: 60px;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 0;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #74b330;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 35px;
    left: 0;
    top: -54px;
  }

  span {
    font-size: 22px;
  }
}

.info__text-title {
  color: #74b330;
  font-weight: 900;
  font-size: 20px;
}

.about__option {
  background-color: #74b330;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 10px;
  color: #fff;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #fff;
    width: 320px;
    height: 320px;
    right: -82px;
  }
}

.about__option__item {
  display: flex;
  align-items: center;
  padding: 20px 0;

  img {
    z-index: 2;
    margin-left: 20px;
    position: relative;
  }
}

.option__item-title {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  margin: 0;
}

.option-1 {
  margin-left: 60px;
}

.option-2 {
  margin-left: 20px;
}

.option-3 {
  margin-left: 60px;
}

.contry {
  padding: 40px 0;

  h2 {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}

.contry__wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.contry__kart {
  background-image: url(img/kart.jpg);
  background-repeat: no-repeat;
  background-position: center 40px;
  width: 50%;
}

.contry__info-title {
  color: #74b330;
  font-size: 60px;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 0;
  position: relative;
  margin-top: 50px;

  span {
    font-size: 22px;
  }
}

.contry__kart-text {
  color: #74b330;
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}

.order {
  h2 {
    text-align: center;
  }
}

.order__wrap {
  display: flex;
  justify-content: space-between;
}

.order__ring {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 10px solid #74b330;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.car-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25% !important;

  img {
    position: absolute;
  }
}

.order__item {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.order__item__block {
  display: flex;
  align-items: start;
  margin-top: 40px;

  img {
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
}

.order__item-title {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  margin-left: 35px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #74b330;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 30px;
    height: 20px;
    left: -35px;
    top: 0;
  }
}

.left-top {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
  }
}

.future {
  position: relative;
}

.future__wrap {
  display: flex;
  position: relative;
  z-index: 2;
}

.future__title {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  margin-left: 35px;
  margin-bottom: 0;
  margin-top: 30px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #74b330;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 30px;
    height: 20px;
    left: -35px;
    top: 0;
  }
}

.future__content {
  padding: 30px 0 0 30px;

  p {
    margin-left: 35px;
  }
}

.wite-text {
  color: #fff;

  &::before {
    content: '';
    background-color: #ffffff;

  }
}

.green-block {
  background-color: #74b330;
  height: 140px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.help {
  h2 {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}

.help__wrap {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.help__item {
  width: 30%;
}

.help__item__title {
  color: #74b330;
  font-size: 22px;
  font-weight: 600;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #74b330;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 44px;
    height: 30px;
    top: -25px;
  }
}

.help__item__subtitle {
  font-weight: 900;
}

.help__item__li {
  p {
    margin: 3px 0;
    margin-left: 25px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: #74b330;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 20px;
      height: 15px;
      left: -25px;
      top: 0px;
    }
  }
}

.steps {
  h2 {
    text-align: center;
  }
}

.steps__wrapper {
  background-color: #74b330;
}

.steps__wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #74b330;
  color: #fff;
  padding: 40px 0;
}

.steps__item {
  position: relative;
  max-width: 27%;
  padding: 20px 30px 0 0;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 3px;
    right: 30px;
    top: 25px;
  }
}

.steps__item-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 30px;
}

.steps__item-subtitle {
  font-weight: 600;
  margin-bottom: 0;
  line-height: 30px;
}