.note_2 {
    background-color: rgb(189, 45, 73);
}

.note_3 {
    background-color: rgb(236, 181, 62);
}

.note_4 {
    background-color: rgb(103, 201, 58);
}

.note_5 {
    background-color: rgb(66, 201, 88);
}